<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SerialNumber" value="0000615385"/>
    <add key="HAgent" value="012"/>
    <add key="HHTId" value="689"/>
    <add key="NetName" value="708"/>
    <add key="CityCode" value="MSP"/>
    <add key="ProductionStation" value="DTW"/>
    <add key="TrainingStation" value="DTW"/>
    <add key="TrainingStationName" value="TRN" />
    <add key="J2EEServer" value="bmlabj01.mn.nwa.com"/>
    <add key="NETServer" value="10.145.86.152:9080"/>
    <add key="DurationToHoldFlightDataInHours" value="48"/>
    <!--Server IP Address-->
    <add key="ServerIPAddress" value="10.145.86.152"/>
    <!--Auto Logoff time in minutes -->
    <add key="AutoLogoffTime" value="30"/>
    <add key="FTPServerIPAddress" value="10.145.86.175"/>
    <add key="FTPServerPort" value="21"/>
    <!--  Number representing the log level
    Any of the following log levels can be used
    1 - Exception
    2 - Information
    3 - Warning
    4 - Trace -->
    <add key="LogLevel" value="4"/>
  </appSettings>
  <sqlceRefrence>    
    <add reference="databaseName" url="safetrac.sdf"/>
  </sqlceRefrence>
  <webReferences>
    <add reference="WS_DataSyncService" url="http://10.145.86.152:9080/SafetracServicesWeb/services/DataSyncServiceSOAP"/>
    <add reference="WS_GetACConfig_AOT" url="http://bmlabj01.mn.nwa.com/Safetrac/WebServices/WS_GetACConfig_AOT/ACConfig.asmx"/>
    <add reference="WS_Device_Admin_AOT" url="http://bmlabj01.mn.nwa.com/safetrac/webservices/WS_Device_Admin_AOT/WS_Device_Admin.asmx"/>
    <add reference="WS_FlightLD_AOT" url="http://bmlabj01.mn.nwa.com/Safetrac/WebServices/WS_FlightLD_AOT/FlightClose.asmx"/>
    <add reference="WS_Freight_Load_AOT" url="http://bmlabj01.mn.nwa.com/safetrac/webservices/WS_Freight_Load_AOT/WS_Freight_Load.asmx"/>
    <add reference="WS_GetDateTime_AOT" url="http://bmlabj01.mn.nwa.com/safetrac/webservices/WS_GetDateTime_AOT/WS_GetDateTime.asmx"/>
    <add reference="WS_ReadDDSGLineItems_AOT" url="http://bmlabj01.mn.nwa.com/safetrac/webservices/WS_ReadDDSGLineItems_AOT/ReadDDSGLineItems.asmx"/>
    <add reference="WS_SOSA_Logger" url="http://aotd2.mn.nwa.com:17061/SOSA-LOGGER-WEBSERVICE/services/Logger"/>
  </webReferences>
</configuration>